@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .centered-element {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .no-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .solid-indicator::-webkit-progress-bar {
    background-color: #333333;
  }

  .solid-indicator::-webkit-progress-value {
    border-radius: 7px;
    background-color: #e50000;
  }

  .smooth {
    transition: all 1s ease-in-out;
  }

  .grid-auto-con {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .three_lines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.7;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .spinner {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@layer utilities {
  .padding-x {
    @apply lg:px-16 px-6;
  }

  .padding-x-sm {
    @apply lg:px-16 md:px-6 px-3;
  }

  .half-filled-red {
    position: relative;
  }

  .half-filled-red::before,
  .half-filled-red::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
  }

  .half-filled-red::before {
    background-color: red;
    left: 0;
    z-index: 1;
  }
  .half-filled-red::after {
    background-color: blue;
    right: 0;
  }
}
